.sidenav-container {
  height: 100%;
  width: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}


.spacer {
  flex: 1 1 auto;
}

mat-icon {
  color: white;
}

/* Adjust the positioning of the dropdown button */
button.mat-icon-button {
  margin-left: 2px; /* Add margin to separate it from other content */
}
.mat-toolbar {
  background-color: #2196f3; /* Change the background color as needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 5px rgba(0, 0, 0, 0.12), 0 1px 10px rgba(0, 0, 0, 0.08); /* Add a 3D box shadow */
}

.mat-toolbar .manage-dropdown {
  position: relative;
}

.mat-toolbar .manage-dropdown::before {
  content: '';
  position: absolute;
  top: calc(100% + 5px); /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  border-style: solid;
  border-width: 8px 8px 0 8px;
  border-color: #2196f3 transparent transparent transparent;
  z-index: 1;
}

.mat-menu-content {
  background-color: #ffffff; /* Change the background color as needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a box shadow to the dropdown */
}
/* styles.css or styles.scss */

body {
  background-image: url(src/assets/purple.jpg);
  width:100vw; 
  height:100vh;/* Adjust the path to your image */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

